$slick-font-path: "~slick-carousel/slick/fonts/";
$url:"/assets/media/";
$airbnb-text-color : rgb(72, 72, 72);
$airbnb-text-color-light : rgb(118,118,118);
$airbnb-pink : #FF5A5F;
$airbnb-box-shadow :0px 2px 8px rgba(0, 0, 0, 0.15);
$airbnb-border-radius : 4px;
$ocean-blue : rgb(0, 132, 137);
$cherry : rgb(145, 70, 105);
