@import "../abstracts/variables";
.airbnb-link{
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    font-size: 17px;
    font-weight: 700;
    :hover{
        text-decoration: underline;
    }
    &.ocean-blue{
        color: $ocean-blue;

        &:after{
            position : absolute;
            content : "";
            height : 12px;
            width: 12px;
            right: -1em;
            top: 6px;
        }
        &.down-arrow{
            &:after{
            background-image: url(/images/down-arrow-ocean.svg);
            }
        }
         &.right-arrow{
            &:after{
            background-image: url(/images/right-arrow-ocean.svg);
            }
        }
        
    }
    &.cherry{
        color: $cherry;
        &:after{
            background-image: url(/images/right-arrow-cherry.svg);
            position : absolute;
            content : "";
            height : 12px;
            width: 12px;
            right: -1em;
            top: 6px;
        }
    }
}


.link-area{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0);
}