@import "../abstracts/variables";

.places-container{
        &.places-to-travel{
            @include media-breakpoint-down(xl)  {
            :nth-child(5n){
                display: none;
            }
        }
    }
    .airbnb-places-card{
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        border: none;
        margin-bottom: 32px;
        .places-card-image-container{
            position: relative;
            padding-top: 66.7%;
            overflow: hidden;
            
            img{
                position: absolute;
                max-height: 95%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
            }
        }
        .places-body{
            .places-header{
                // .places-info {
                //     .places.title{
                //         airbnb-places-price
                //     }
                // }
                .airbnb-places-card-location{
                    flex: 0 0 auto; 
                    margin: 0px 0px 0px 5px;
                    display: inline;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-weight: 500;
                    opacity: .7;
                }
            }
        }
    }
    @include media-breakpoint-up(md)  {
        .airbnb-pink-star{
            margin-top : 5px;
            float: right;
        }
    }
}