.section-title{
    margin-bottom: 24px;
    width: 100%;
    .title-heading{
        width: 100%;
        min-width: 100%;
        font-weight: 700;
        font-size: 1.5rem;
        color: rgb(72, 72, 72);
        max-width: 70%;
        line-height: 1.6rem;
    }
    .title-description{
        color: rgb(72, 72, 72);
        opacity: 0.7;

    }
}