
@import "../components/forms";
@import "../abstracts/variables";

body{
 font-family: Roboto;
}
.navbar{
    height: 80px;
    position: absolute;
    top:0;
    left:0;
    .navbar-brand{
        display: flex;
        align-items: center;
        color: white;
        margin-right: auto;
    } 
    button:focus{
        outline: none;
    }
}


//Landing Page
.landing-page{
    // Landing Page > Header image
    .landing-page-image-container{
        width: 100%;
        position: relative;
        height: 100%;
        @include media-breakpoint-up(md)  {
            width: 100%;
            height: 100vh;
        }
        .landing-page-image{
            object-fit:cover;
            vertical-align:bottom;
            width: 100%;
            position: static;
            min-height: 320px;
            @include media-breakpoint-up(md)  { 
                height: 100%;
            }
        }
    }


    // Landing Page > Main form module
    .airbnb-form-container{
        box-sizing: border-box;
        border-radius: 0.25rem;
        background-color: white;
        position: unset;
        max-width: unset;
        @include media-breakpoint-up(md) { 
            position: absolute;
            top: 45%;
            left: 4%;
            padding: 1.5rem;
            max-width: 435px;
            transform: translateY(-60%);
            margin-left: 5rem;
        }
        .airbnb-header-form{
            @include media-breakpoint-up(md) { 
            max-width: 510px;
            }
            .form-title{
                position: absolute;
                top:calc(45vmin);
                color: $airbnb-text-color;
                font-size: 30px;
                font-weight: 700;
                color: white;
                z-index: 2;
                a{
                    color: white;
                    text-decoration: none;
                }
                @include media-breakpoint-up(sm) { 
                    font-size: 25px;
                }
                @include media-breakpoint-up(md) { 
                    position: relative;
                    color: $airbnb-text-color;
                    top:unset;
                    line-height: 32px;
                    font-size: 32px;
                    font-weight: 600;
                    bottom: unset;
                    width: 90%;
                    a{
                       color: $airbnb-text-color
                    }
                }
                
            }
            .form-dropdown{
                border:1px solid rgba(72, 72, 72,0.3);
                height: 48px;
                text-align: left;
                color: $airbnb-text-color;
                position: relative;
                &::after{
                    position: absolute;
                    margin-left: auto;
                    right: 1rem;
                    top: 45%;
                }
            }
        }
    }
}


//  Sections

// ######### Section Animals #########
.animals{
    width: 100%;
    min-width: 220px;
    max-width: 1600px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    .koyun{
        position: relative;
        height: 100%;
        width: 100%;
        @include media-breakpoint-up(md)  { 
           position: unset;
           display: none;
        }
    }
    .animals-video{
        position: unset;
        display: none;
        object-fit: cover;
        max-height: 480px;
        width: 100vw;
        @include media-breakpoint-up(md)  { 
            position: relative;
            display: unset;
            
        }
        @include media-breakpoint-up(xxl)  { 
            position: relative;
            max-width: 1600px;
            border-radius: $airbnb-border-radius;
        }
    }

    .animals-inner-content{
        position: absolute;
        top:7%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        @include media-breakpoint-up(md){ 
            align-items: flex-start;
            top:50%;
            left: 45px;
            transform: translateY(-50%);
        }
        h5{
            font-size:16px;
        }
        img{
            height: 100%;
            width: 60vw;
            @include media-breakpoint-up(md){
                width:100%;
            }
        }

        button{
            width: 110px;
            padding: 10px 16px;
            font-size: 14px;
            font-weight: 700;
            color:$airbnb-text-color;
            border-radius: 10px;
        }
      
    }
    
    .animals-inner-content>* {
        margin-bottom: 1.5rem;
    }
        
}

/// ######### Section Adventures #########
.adventures {
    .adventures-content{
        :nth-child(n+5){
            display: none;
        }
        @include media-breakpoint-up(md){
            :nth-child(n+4){
                display: none;
            }
        }

        @include media-breakpoint-up(lg){
            :nth-child(n+4){
                display: unset;
            }
            :nth-child(n+5){
                display: none;
            }
          
        }
        @include media-breakpoint-up(xxl){
        :nth-child(n+5){
            display: unset;
        }
        :nth-child(n+7){
            display: none;
        }
        }
    }
}

// Section Plus
.plus{
    .plus-content{
    position: relative;
        .plus-image{
            width: 100%;
            height: 300px;
            background-image: url(/images/plus-xs-s.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 5px;
            @include media-breakpoint-up(sm){
                background-image: url(/images/plus-m-l-xl.jpg);

            }
        }
        .plus-content-inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%,-50%);
            *{
                margin-bottom: 1rem;
            }
        }
    }
}


// ####### Section Featured ########
.featured-destinations-list{
        display: flex;
        justify-content: flex-start;
        overflow-y: hidden;
        overflow-x : hidden;
        white-space: nowrap;
        width: 100%;

        
            
    .featured-destinations-card{
        &:not(:last-of-type){
            margin-right: 16px;
        }
        display: block;
        flex:0 0 99.5%;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        @include media-breakpoint-up(md)  { 
            flex-basis: 50%;
        }
        @include media-breakpoint-up(lg)  { 
            flex-basis: 33.3%;
        }
       
     
        .featured-image-container{
            margin-bottom: 10px;
            overflow: hidden;
        }
        img{
            width: 100%;
            max-height: 320px;
            border-radius: $airbnb-border-radius;
        }
        .featured-plus-logo{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-70%);
            .featured-city{
                
                text-transform: uppercase;
                font-weight: 600;
                font-size: 2rem;
            }
            .underlined-image{
                margin-top : -.3rem;
            }
          
        }
        .featured-body{
            display: block;

            .cherry-link{
                color: $cherry;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 12px;
            }
            .featured-city{
                
            }
            .featured-description{
                
                width: 100%;
                max-width: 250px;
                letter-spacing: 0.2px;
                font-size: 14px;
                line-height: 1.2rem;
            }
        }
    }
}