@import"../abstracts/variables";

.airbnb-black-star{
    position: relative;
    font-size: 14px;
    &:before{
        
        position: absolute;
        content :"";
        background-image: url(/src/assets/media/icons/black-star.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 12px;
        width: 12px;
        top : 1px;
    }
    .feedback-count{
        opacity: 0.4;
    }
    .feedback-point{
        margin-left: 1rem;
    }
}



.airbnb-pink-star{
    position: relative;
    font-size: 14px;
    &:before{
        
        position: absolute;
        content :"";
        background-image: url(/src/assets/media/icons/pink-star.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 12px;
        width: 12px;
        top : 1px;
    }
    .feedback-count{
        opacity: 0.4;
    }
    .feedback-point{
        margin-left: 1rem;
    }
}




.airbnb-ocean-star{
    position: relative;
    font-size: 14px;
    &:before{
        
        position: absolute;
        content :"";
        background-image: url(/src/assets/media/icons/black-star.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 12px;
        width: 12px;
        top : 1px;
    }
    .feedback-count{
        opacity: 0.4;
    }
    .feedback-point{
        margin-left: 1rem;
    }
}
